1. Recopilar los tweets donde se mencione la cuenta de @TheBridge_Tech desde
comienzo de año hasta el día de ayer incluído. Se recomienda utilizar la API de
Twitter. Se deberá recoger:
a. Id del mensaje
b. Cuerpo del texto del mensaje
c. Fecha del tweet
d. Id del autor
e. Nombre del autor
f. Nombre de usuario del autor
g. Métricas públicas del tweet (retweet, reply, like, count)

In [1]:
import hashlib
import requests
import datetime
# pip install tweepy
import tweepy
import pandas as pd

In [2]:
# API keyws that yous saved earlier
api_key = "O2teJoY3z9pmBous5VcwHSRLz"
api_secrets = "8ffstW7BqCYlKTAQwhLaFOgqnYBFW9MTWLcM0BH85yXwOY2tAb"
access_token = "1528653990333906944-dVnHWbwMLX3mUcXfsuZq0IEQITBcOV"
access_secret = "Yoqia54vxSHynp3dQIRSi4PQEeCtBZndVk8l8W2SeIosk"
# your bearer token
MY_BEARER_TOKEN = 'AAAAAAAAAAAAAAAAAAAAAMeXcwEAAAAAdICWFrZoQz%2BiLK1ttX2f%2FxCn69Y%3Dgz8v8oxMtyQr5vDmAaUIApXcsc33uGVjda7PsUBQ4LsrnyatHy'

In [3]:
# create your client 
client = tweepy.Client(bearer_token=MY_BEARER_TOKEN)

In [4]:
# First Atempt
# Authenticate to Twitter
auth = tweepy.OAuthHandler(api_key,api_secrets)
auth.set_access_token(access_token,access_secret)
 
api = tweepy.API(auth,wait_on_rate_limit=True)
 
try:
    api.verify_credentials()
    print('Successful Authentication')
except:
    print('Failed authentication')

'''
# Second Atempt
# Authenticate to Twitter
auth = tweepy.OAuthHandler(api_key,api_secrets)
auth.set_access_token(access_token,access_secret)
api = tweepy.API(auth, wait_on_rate_limit=True)'''

Successful Authentication

'\n# Second Atempt\n# Authenticate to Twitter\nauth = tweepy.OAuthHandler(api_key,api_secrets)\nauth.set_access_token(access_token,access_secret)\napi = tweepy.API(auth, wait_on_rate_limit=True)'

In [5]:
import pandas
from datetime import date, timedelta

sdate = date(2022,1,1)   # start date
edate = date(2022,5,23)   # end date
fechas = pandas.date_range(sdate,edate-timedelta(days=7),freq='w').to_list()
new_fechas = fechas[::-1]
# fechas
# new_fechas

In [6]:
search_words = "@TheBridge_Tech"

df = pd.DataFrame()

for iter in range(len(new_fechas)):
    date_since = new_fechas[iter].strftime("%YY-%mm-%dd")
    tweets = tweepy.Cursor(api.search_tweets, 
                           q=search_words,
                           lang="es",
                           count=100,
                           until=date_since).items()


    users_locs = [[tweet.id, tweet.text, tweet.created_at, tweet.user.id, tweet.user.screen_name, tweet.user.name, tweet.retweet_count, tweet.favorite_count] for tweet in tweets]

    df1 = pd.DataFrame(data=users_locs, 
                    columns=['tweet_ID','text','date','user_ID', 'user_name', 'name', 'retweet', 'like'])
        
    df = df.append(df1)

In [7]:
df.shape
# df.drop_duplicates(subset='date', keep='first', inplace=True, ignore_index=False)

(0, 8)

1ª INTENTO!

In [8]:
# Define the search term and the date_since date as variables
search_words = "@TheBridge_Tech"
date_since = "2022-01-01"

In [9]:
# Collect tweets
tweets = tweepy.Cursor(api.search_tweets,
              q=search_words,
              lang="es",
              count = 100,
              max_results = 100,
              until=date_since).items()
tweets

In [10]:
# Iterate and print tweets
lista_tws = []
for tweet in tweets:
    lista_tws.append(tweet.text)

# Collect a list of tweets
# [tweet.text for tweet in tweets]

Unexpected parameter: max_results

In [11]:
len(lista_tws)

0

In [12]:
lista_tws

[]

In [13]:
tweets = tweepy.Cursor(api.search_tweets, 
                           q=search_words,
                           lang="es",
                           count=100,
                           since=date_since).items()
'''
a. Id del mensaje
b. Cuerpo del texto del mensaje
c. Fecha del tweet
d. Id del autor
e. Nombre del autor
f. Nombre de usuario del autor
g. Métricas públicas del tweet (retweet, reply, like, count)'''
# tweet.reply_count, tweet.quote_count --> Note: This object is only available with the Premium and Enterprise tier products.

users_locs = [[tweet.id, tweet.text, tweet.created_at, tweet.user.id, tweet.user.screen_name, tweet.user.name, tweet.retweet_count, tweet.favorite_count] for tweet in tweets]
users_locs

Unexpected parameter: since
Unexpected parameter: since

[[1528778265590222848,
  'RT @juanluispavon1: Conoce las 25 ofertas de #empleo de la empresa sevillana @Galgus, creadora de tecnología #WiFi de primer nivel mundial,…',
  datetime.datetime(2022, 5, 23, 16, 41, 56, tzinfo=datetime.timezone.utc),
  3387588945,
  'ASIAN_Andalucia',
  'IngenieríadAndalucía',
  3,
  0],
 [1528759222116274176,
  'RT @nodosenlared: "El libro de la inteligencia colectiva"  https://t.co/tUyIEoFlP9 artículo de @tiscar sobre la presentación que del libro…',
  datetime.datetime(2022, 5, 23, 15, 26, 16, tzinfo=datetime.timezone.utc),
  1059338743897702400,
  'librero33',
  'librero33',
  3,
  0],
 [1528735286829764608,
  'RT @arey: #LastMinute La 2da presentación del #LibroIC en #Madrid será este jueves (18:30) en @TheBridge_Tech acompañados por Tíscar Lara (…',
  datetime.datetime(2022, 5, 23, 13, 51, 9, tzinfo=datetime.timezone.utc),
  1162694149956603904,
  'TheBridge_Tech',
  'The Bridge',
  2,
  0],
 [1528718102195802114,
  'RT @PdelaPublicidad: Los perfiles tecnológicos más demandados en el futuro @TheBridge_Tech https://t.co/j93jBWSLij',
  datetime.datetime(2022, 5, 23, 12, 42, 52, tzinfo=datetime.timezone.utc),
  287347055,
  'NicoleOrchard',
  'Nicole Orchard',
  2,
  0],
 [1528696920729956352,
  'Terminando el desafio de tripulaciones en @TheBridge_Tech',
  datetime.datetime(2022, 5, 23, 11, 18, 42, tzinfo=datetime.timezone.utc),
  1528649918306557952,
  'nachooatm82',
  'Nacho Esteban',
  0,
  0],
 [1528674680965586945,
  'RT @nodosenlared: "El libro de la inteligencia colectiva"  https://t.co/tUyIEoFlP9 artículo de @tiscar sobre la presentación que del libro…',
  datetime.datetime(2022, 5, 23, 9, 50, 20, tzinfo=datetime.timezone.utc),
  135595071,
  'mevasjimenez',
  'Eva Sánchez',
  3,
  0],
 [1528653470085128192,
  'RT @nodosenlared: "El libro de la inteligencia colectiva"  https://t.co/tUyIEoFlP9 artículo de @tiscar sobre la presentación que del libro…',
  datetime.datetime(2022, 5, 23, 8, 26, 2, tzinfo=datetime.timezone.utc),
  7154412,
  'Recuenco',
  'Javier G. Recuenco',
  3,
  0],
 [1528650844094271490,
  '"El libro de la inteligencia colectiva"  https://t.co/tUyIEoFlP9 artículo de @tiscar sobre la presentación que del… https://t.co/pc6BVw1TFJ',
  datetime.datetime(2022, 5, 23, 8, 15, 36, tzinfo=datetime.timezone.utc),
  41545659,
  'nodosenlared',
  'Mario Lopez de Avila',
  3,
  6],
 [1528647207594909696,
  'Este jueves nos vemos en @TheBridge_Tech para hablar sobre inteligencia colectiva a propósito del nuevo libro de… https://t.co/tpx9Zqj262',
  datetime.datetime(2022, 5, 23, 8, 1, 9, tzinfo=datetime.timezone.utc),
  4628161,
  'tiscar',
  'Tíscar Lara',
  0,
  1],
 [1528645495781998593,
  'RT @juanluispavon1: Conoce las 25 ofertas de #empleo de la empresa sevillana @Galgus, creadora de tecnología #WiFi de primer nivel mundial,…',
  datetime.datetime(2022, 5, 23, 7, 54, 21, tzinfo=datetime.timezone.utc),
  1573780194,
  'pgonzrodriguez',
  'Patricia González-Rodríguez #SinCienciaNoHayFuturo',
  3,
  0],
 [1528645396440174592,
  'RT @juanluispavon1: Conoce las 25 ofertas de #empleo de la empresa sevillana @Galgus, creadora de tecnología #WiFi de primer nivel mundial,…',
  datetime.datetime(2022, 5, 23, 7, 53, 58, tzinfo=datetime.timezone.utc),
  271387101,
  'Antonioyelamo',
  'Antonio Yélamo Crespillo',
  3,
  0],
 [1528641426975760389,
  'Conoce las 25 ofertas de #empleo de la empresa sevillana @Galgus, creadora de tecnología #WiFi de primer nivel mund… https://t.co/fjUA4MWCPK',
  datetime.datetime(2022, 5, 23, 7, 38, 11, tzinfo=datetime.timezone.utc),
  987388686,
  'juanluispavon1',
  'Juan Luis Pavón',
  3,
  7],
 [1528638574320574466,
  'RT @arey: #LastMinute La 2da presentación del #LibroIC en #Madrid será este jueves (18:30) en @TheBridge_Tech acompañados por Tíscar Lara (…',
  datetime.datetime(2022, 5, 23, 7, 26, 51, tzinfo=datetime.timezone.utc),
  41545659,
  'nodosenlared',
  'Mario Lopez de Avila',
  2,
  0],
 [1528638307516694529,
  '#LastMinute La 2da presentación del #LibroIC en #Madrid será este jueves (18:30) en @TheBridge_Tech acompañados por… https://t.co/vEWNXZv3Qj',
  datetime.datetime(2022, 5, 23, 7, 25, 47, tzinfo=datetime.timezone.utc),
  15993641,
  'arey',
  'Amalio A. Rey',
  2,
  4],
 [1527324126813118473,
  'RT @TheBridge_Tech: ¡Qué poco queda para el próximo 🔥Burn Monday🔥! Lunes 23 de mayo a las 18h. aplicaremos la #IA en un viaje por obras pic…',
  datetime.datetime(2022, 5, 19, 16, 23, 42, tzinfo=datetime.timezone.utc),
  227327854,
  'burn_es',
  'BURN España 🔥',
  2,
  0],
 [1527317586035494919,
  'RT @TheBridge_Tech: ¡Qué poco queda para el próximo 🔥Burn Monday🔥! Lunes 23 de mayo a las 18h. aplicaremos la #IA en un viaje por obras pic…',
  datetime.datetime(2022, 5, 19, 15, 57, 43, tzinfo=datetime.timezone.utc),
  1437460018928832513,
  '_Jakashi',
  'Jakashi Bot',
  2,
  0],
 [1526946552492789760,
  'Esta es la historia de Isis🤗 que decidió hacer un cambio en su vida profesional haciendo el #bootcamp de #uxui. Aho… https://t.co/YC0yOw5b3o',
  datetime.datetime(2022, 5, 18, 15, 23, 22, tzinfo=datetime.timezone.utc),
  1162694149956603904,
  'TheBridge_Tech',
  'The Bridge',
  0,
  0],
 [1526937977707978752,
  'RT @TheBridge_Tech: ¿Con ganas de probar si un empleo tecnológico es para ti? Ven a los talleres del campus de #Sevilla @ENCamaraSevilla…',
  datetime.datetime(2022, 5, 18, 14, 49, 17, tzinfo=datetime.timezone.utc),
  163586106,
  'ENCamaraSevilla',
  'Escuela de Negocios',
  2,
  0],
 [1526887876188901376,
  'RT @Bcasapp: ¿Cómo combatir el paro juvenil🥵? #tipdeldia En un país con una tasa de paro récord, hay que elegir bien dónde y qué estudiar.…',
  datetime.datetime(2022, 5, 18, 11, 30, 12, tzinfo=datetime.timezone.utc),
  837725228126113792,
  'elbecador',
  'elbecador',
  4,
  0],
 [1526886949839065088,
  'Gracias @victorianoI y equipo por el análisis con @graphext de los datos en educación y tecnología que vimos ayer e… https://t.co/tGq6oXx37x',
  datetime.datetime(2022, 5, 18, 11, 26, 31, tzinfo=datetime.timezone.utc),
  1162694149956603904,
  'TheBridge_Tech',
  'The Bridge',
  0,
  0],
 [1526880909043056642,
  'RT @Bcasapp: ¿Cómo combatir el paro juvenil🥵? #tipdeldia En un país con una tasa de paro récord, hay que elegir bien dónde y qué estudiar.…',
  datetime.datetime(2022, 5, 18, 11, 2, 31, tzinfo=datetime.timezone.utc),
  1162694149956603904,
  'TheBridge_Tech',
  'The Bridge',
  4,
  0],
 [1526846430316572672,
  'RT @Bcasapp: ¿Cómo combatir el paro juvenil🥵? #tipdeldia En un país con una tasa de paro récord, hay que elegir bien dónde y qué estudiar.…',
  datetime.datetime(2022, 5, 18, 8, 45, 31, tzinfo=datetime.timezone.utc),
  915644929,
  'DudasBecasMec',
  'Dudas Becas MEFP',
  4,
  0],
 [1526846367192293381,
  'RT @Bcasapp: ¿Cómo combatir el paro juvenil🥵? #tipdeldia En un país con una tasa de paro récord, hay que elegir bien dónde y qué estudiar.…',
  datetime.datetime(2022, 5, 18, 8, 45, 16, tzinfo=datetime.timezone.utc),
  1468714865137229824,
  'Alicia94930543',
  'Alicia',
  4,
  0],
 [1526842834741039105,
  '¿Cómo combatir el paro juvenil🥵? #tipdeldia En un país con una tasa de paro récord, hay que elegir bien dónde y qué… https://t.co/DGAUBHJnjz',
  datetime.datetime(2022, 5, 18, 8, 31, 13, tzinfo=datetime.timezone.utc),
  1336771626306854912,
  'Bcasapp',
  'Bcas',
  4,
  8],
 [1526641251956801536,
  'RT @TheBridge_Tech: ¿Con ganas de probar si un empleo tecnológico es para ti? Ven a los talleres del campus de #Sevilla @ENCamaraSevilla…',
  datetime.datetime(2022, 5, 17, 19, 10, 12, tzinfo=datetime.timezone.utc),
  1847749892,
  'MayDOlha',
  "May D'Olhaberriague",
  2,
  0],
 [1526482636679663622,
  'RT @arey: La 2da presentación-coloquio del #LibroIC en #Madrid será el J26Mayo(18:30) en @TheBridge_Tech con Tíscar Lara (@tiscar) y Mario…',
  datetime.datetime(2022, 5, 17, 8, 39, 55, tzinfo=datetime.timezone.utc),
  41545659,
  'nodosenlared',
  'Mario Lopez de Avila',
  4,
  0],
 [1526480514265362433,
  'RT @PdelaPublicidad: Los perfiles tecnológicos más demandados en el futuro @TheBridge_Tech https://t.co/j93jBWSLij',
  datetime.datetime(2022, 5, 17, 8, 31, 29, tzinfo=datetime.timezone.utc),
  3010572742,
  'Tere_Crespo_',
  'Tere Crespo',
  2,
  0],
 [1526479745185198080,
  'Los perfiles tecnológicos más demandados en el futuro @TheBridge_Tech https://t.co/j93jBWSLij',
  datetime.datetime(2022, 5, 17, 8, 28, 26, tzinfo=datetime.timezone.utc),
  114739070,
  'PdelaPublicidad',
  'Periódico PublicidAD',
  2,
  1],
 [1526213682388156417,
  'RT @arey: La 2da presentación-coloquio del #LibroIC en #Madrid será el J26Mayo(18:30) en @TheBridge_Tech con Tíscar Lara (@tiscar) y Mario…',
  datetime.datetime(2022, 5, 16, 14, 51, 12, tzinfo=datetime.timezone.utc),
  27889470,
  'jsobejano',
  'Juan Sobejano 🇪🇺🇪🇦🇺🇦',
  4,
  0],
 [1526160672895160323,
  'RT @arey: La 2da presentación-coloquio del #LibroIC en #Madrid será el J26Mayo(18:30) en @TheBridge_Tech con Tíscar Lara (@tiscar) y Mario…',
  datetime.datetime(2022, 5, 16, 11, 20, 33, tzinfo=datetime.timezone.utc),
  11231412,
  'Yoriento',
  '@Yoriento (Alfonso Alcántara)',
  4,
  0],
 [1526135784331481088,
  'RT @arey: La 2da presentación-coloquio del #LibroIC en #Madrid será el J26Mayo(18:30) en @TheBridge_Tech con Tíscar Lara (@tiscar) y Mario…',
  datetime.datetime(2022, 5, 16, 9, 41, 39, tzinfo=datetime.timezone.utc),
  4628161,
  'tiscar',
  'Tíscar Lara',
  4,
  0],
 [1526133158743359488,
  'La 2da presentación-coloquio del #LibroIC en #Madrid será el J26Mayo(18:30) en @TheBridge_Tech con Tíscar Lara (… https://t.co/fzOShx6mH1',
  datetime.datetime(2022, 5, 16, 9, 31, 13, tzinfo=datetime.timezone.utc),
  15993641,
  'arey',
  'Amalio A. Rey',
  4,
  4]]

In [14]:
tweet_text = pd.DataFrame(data=users_locs, 
                    columns=['tweet_ID','text','date','user_ID', 'user_name', 'name', 'retweet', 'like'])
tweet_text

,tweet_ID,text,date,user_ID,user_name,name,retweet,like
0,1528778265590222848,RT @juanluispavon1: Conoce las 25 ofertas de #...,2022-05-23 16:41:56+00:00,3387588945,ASIAN_Andalucia,IngenieríadAndalucía,3,0
1,1528759222116274176,"RT @nodosenlared: ""El libro de la inteligencia...",2022-05-23 15:26:16+00:00,1059338743897702400,librero33,librero33,3,0
2,1528735286829764608,RT @arey: #LastMinute La 2da presentación del ...,2022-05-23 13:51:09+00:00,1162694149956603904,TheBridge_Tech,The Bridge,2,0
3,1528718102195802114,RT @PdelaPublicidad: Los perfiles tecnológicos...,2022-05-23 12:42:52+00:00,287347055,NicoleOrchard,Nicole Orchard,2,0
4,1528696920729956352,Terminando el desafio de tripulaciones en @The...,2022-05-23 11:18:42+00:00,1528649918306557952,nachooatm82,Nacho Esteban,0,0
5,1528674680965586945,"RT @nodosenlared: ""El libro de la inteligencia...",2022-05-23 09:50:20+00:00,135595071,mevasjimenez,Eva Sánchez,3,0
6,1528653470085128192,"RT @nodosenlared: ""El libro de la inteligencia...",2022-05-23 08:26:02+00:00,7154412,Recuenco,Javier G. Recuenco,3,0
7,1528650844094271490,"""El libro de la inteligencia colectiva"" https...",2022-05-23 08:15:36+00:00,41545659,nodosenlared,Mario Lopez de Avila,3,6
8,1528647207594909696,Este jueves nos vemos en @TheBridge_Tech para ...,2022-05-23 08:01:09+00:00,4628161,tiscar,Tíscar Lara,0,1
9,1528645495781998593,RT @juanluispavon1: Conoce las 25 ofertas de #...,2022-05-23 07:54:21+00:00,1573780194,pgonzrodriguez,Patricia González-Rodríguez #SinCienciaNoHayFu...,3,0
10,1528645396440174592,RT @juanluispavon1: Conoce las 25 ofertas de #...,2022-05-23 07:53:58+00:00,271387101,Antonioyelamo,Antonio Yélamo Crespillo,3,0
11,1528641426975760389,Conoce las 25 ofertas de #empleo de la empresa...,2022-05-23 07:38:11+00:00,987388686,juanluispavon1,Juan Luis Pavón,3,7
12,1528638574320574466,RT @arey: #LastMinute La 2da presentación del ...,2022-05-23 07:26:51+00:00,41545659,nodosenlared,Mario Lopez de Avila,2,0
13,1528638307516694529,#LastMinute La 2da presentación del #LibroIC e...,2022-05-23 07:25:47+00:00,15993641,arey,Amalio A. Rey,2,4
14,1527324126813118473,RT @TheBridge_Tech: ¡Qué poco queda para el pr...,2022-05-19 16:23:42+00:00,227327854,burn_es,BURN España 🔥,2,0
15,1527317586035494919,RT @TheBridge_Tech: ¡Qué poco queda para el pr...,2022-05-19 15:57:43+00:00,1437460018928832513,_Jakashi,Jakashi Bot,2,0
16,1526946552492789760,Esta es la historia de Isis🤗 que decidió hacer...,2022-05-18 15:23:22+00:00,1162694149956603904,TheBridge_Tech,The Bridge,0,0
17,1526937977707978752,RT @TheBridge_Tech: ¿Con ganas de probar si un...,2022-05-18 14:49:17+00:00,163586106,ENCamaraSevilla,Escuela de Negocios,2,0
18,1526887876188901376,RT @Bcasapp: ¿Cómo combatir el paro juvenil🥵? ...,2022-05-18 11:30:12+00:00,837725228126113792,elbecador,elbecador,4,0
19,1526886949839065088,Gracias @victorianoI y equipo por el análisis ...,2022-05-18 11:26:31+00:00,1162694149956603904,TheBridge_Tech,The Bridge,0,0
20,1526880909043056642,RT @Bcasapp: ¿Cómo combatir el paro juvenil🥵? ...,2022-05-18 11:02:31+00:00,1162694149956603904,TheBridge_Tech,The Bridge,4,0
21,1526846430316572672,RT @Bcasapp: ¿Cómo combatir el paro juvenil🥵? ...,2022-05-18 08:45:31+00:00,915644929,DudasBecasMec,Dudas Becas MEFP,4,0
22,1526846367192293381,RT @Bcasapp: ¿Cómo combatir el paro juvenil🥵? ...,2022-05-18 08:45:16+00:00,1468714865137229824,Alicia94930543,Alicia,4,0
23,1526842834741039105,¿Cómo combatir el paro juvenil🥵? #tipdeldia En...,2022-05-18 08:31:13+00:00,1336771626306854912,Bcasapp,Bcas,4,8
24,1526641251956801536,RT @TheBridge_Tech: ¿Con ganas de probar si un...,2022-05-17 19:10:12+00:00,1847749892,MayDOlha,May D'Olhaberriague,2,0
25,1526482636679663622,RT @arey: La 2da presentación-coloquio del #Li...,2022-05-17 08:39:55+00:00,41545659,nodosenlared,Mario Lopez de Avila,4,0
26,1526480514265362433,RT @PdelaPublicidad: Los perfiles tecnológicos...,2022-05-17 08:31:29+00:00,3010572742,Tere_Crespo_,Tere Crespo,2,0
27,1526479745185198080,Los perfiles tecnológicos más demandados en el...,2022-05-17 08:28:26+00:00,114739070,PdelaPublicidad,Periódico PublicidAD,2,1
28,1526213682388156417,RT @arey: La 2da presentación-coloquio del #Li...,2022-05-16 14:51:12+00:00,27889470,jsobejano,Juan Sobejano 🇪🇺🇪🇦🇺🇦,4,0
29,1526160672895160323,RT @arey: La 2da presentación-coloquio del #Li...,2022-05-16 11:20:33+00:00,11231412,Yoriento,@Yoriento (Alfonso Alcántara),4,0
30,1526135784331481088,RT @arey: La 2da presentación-coloquio del #Li...,2022-05-16 09:41:39+00:00,4628161,tiscar,Tíscar Lara,4,0
31,1526133158743359488,La 2da presentación-coloquio del #LibroIC en #...,2022-05-16 09:31:13+00:00,15993641,arey,Amalio A. Rey,4,4

In [15]:
tweet_text.to_csv('tweeterapi.csv', index=False)

In [16]:
tweet_text.shape

(32, 8)

In [17]:
tweet_text['date'] =  pd.to_datetime(tweet_text['date'], format="%YY-%mm-%dd")

In [41]:
tweet_text.head()

,tweet_ID,text,user_ID,user_name,name,retweet,like,year,month
0,1528778265590222848,RT @juanluispavon1: Conoce las 25 ofertas de #...,3387588945,ASIAN_Andalucia,IngenieríadAndalucía,3,0,2022,5
1,1528759222116274176,"RT @nodosenlared: ""El libro de la inteligencia...",1059338743897702400,librero33,librero33,3,0,2022,5
2,1528735286829764608,RT @arey: #LastMinute La 2da presentación del ...,1162694149956603904,TheBridge_Tech,The Bridge,2,0,2022,5
3,1528718102195802114,RT @PdelaPublicidad: Los perfiles tecnológicos...,287347055,NicoleOrchard,Nicole Orchard,2,0,2022,5
4,1528696920729956352,Terminando el desafio de tripulaciones en @The...,1528649918306557952,nachooatm82,Nacho Esteban,0,0,2022,5

2. Almacenarlos en una base de datos SQL en 2 tablas diferentes a tu elección.

In [19]:
import sqlite3

conn = sqlite3.connect('twitterAPI.db')
c = conn.cursor()

In [20]:
# c.execute('''CREATE TABLE tweet (
#     tweet_ID VARCHAR(25) PRIMARY KEY, 
#     text TEXT,
#     date DATE, 
#     retweet INT, 
#     like INT
#     )''')
    
# c.execute('''CREATE TABLE user (
#     user_ID VARCHAR(25), 
#     user_name TEXT,
#     name TEXT,  
#     tweet_ID VARCHAR(25),
#     FOREIGN KEY (tweet_ID) REFERENCES tweet (tweet_ID)
#     )''')

In [21]:
conn.commit()

In [22]:
conn.close()

3. Realizar un pequeño análisis donde se respondan a las siguientes preguntas de
negocio:
a. ¿Cuál es el tweet con mayor repercusión social?
b. ¿Cuál es el usuario que más menciona a la escuela?
c. ¿En qué mes se concentra el mayor número de tweets?
d. ¿Qué palabras son más frecuentes?
e. ¿Qué tipo de correlación matemática encuentras entre las métricas públicas?

In [23]:
# a. ¿Cuál es el tweet con mayor repercusión social?

In [100]:
tweet_text['sum'] = tweet_text['retweet'] + tweet_text['like'] 
tweet_text.groupby('tweet_ID')[['sum']].max().sort_values(['sum'], ascending=False).iloc[:1]

                     sum
tweet_ID
1526842834741039105   12

In [25]:
tweet_text.drop(columns=['sum'], inplace=True)

In [26]:
# b. ¿Cuál es el usuario que más menciona a la escuela?

tweet_text['user_name'].value_counts()[:3]

TheBridge_Tech    4
nodosenlared      3
arey              2
Name: user_name, dtype: int64

In [27]:
# c. ¿En qué mes se concentra el mayor número de tweets?

tweet_text['year'] = pd.DatetimeIndex(tweet_text['date']).year
tweet_text['month'] = pd.DatetimeIndex(tweet_text['date']).month

tweet_text.drop(columns=['date'], inplace=True)

tweet_text.groupby('month')[['tweet_ID']].count().sort_values(['tweet_ID'], ascending=False).iloc[:1]

       tweet_ID
month
5            32

In [28]:
# d. ¿Qué palabras son más frecuentes?

from collections import Counter

lista_tweets = tweet_text.text.to_list()
new_lista_tweets = []

for tweet in lista_tweets:
    palabras = tweet.split()
    new_lista_tweets += palabras

contador = Counter(new_lista_tweets)
top_mas_repetidas = contador.most_common(15)

print(top_mas_repetidas[3], top_mas_repetidas[7], top_mas_repetidas[11])

# (Ver NLTK)

('el', 18) ('que', 11) ('paro', 10)

In [40]:
# e. ¿Qué tipo de correlación matemática encuentras entre las métricas públicas?

tweet_text.corr().iloc[:4,:4]


# import seaborn as sns
# import numpy as np
# sns.heatmap(tweet_text.corr(), annot = True, cmap = 'coolwarm');

          tweet_ID   user_ID   retweet      like
tweet_ID  1.000000 -0.044448 -0.319396  0.096931
user_ID  -0.044448  1.000000 -0.200507 -0.030464
retweet  -0.319396 -0.200507  1.000000  0.176041
like      0.096931 -0.030464  0.176041  1.000000

4. Utiliza un modelo pre entrenado
(ds_thebridge_1_22\3-Machine_Learning\5-NLP\NLTK&CountVectorizer\data\output\
finished_model.model) para determinar el sentimiento de los 3 tweets con mayor
repercusión. Preguntas:
a. ¿Cuáles son las predicciones? Interpreta los resultados.
b. ¿Qué variables han podido influir más en las predicciones del modelo?
c. ¿Cómo podrías mejorar el modelo?
d. ¿Qué otras oportunidades se te ocurren donde se podrían aplicar otros
modelos de ML?

In [67]:
# some necessary imports
import matplotlib.pyplot as plt
import itertools
import collections

import nltk
from nltk.corpus import stopwords
import re
import networkx

import warnings
warnings.filterwarnings("ignore")

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix

In [42]:
tweet_text.columns

Index(['tweet_ID', 'text', 'user_ID', 'user_name', 'name', 'retweet', 'like',
       'year', 'month'],
      dtype='object')

In [78]:
search_term = "@TheBridge_Tech"

prueba = tweepy.Cursor(api.search_tweets, 
                           q=search_words,
                           lang="es",
                           count=100,
                           since=date_since).items()

all_tweets = [tweet.text for tweet in prueba]

len(all_tweets)

Unexpected parameter: since
Unexpected parameter: since

32

In [79]:
# tweet_text['text'] = tweet_text['text'].str.replace('[^\w\s]', '')

def remove_url(txt):
    return " ".join(re.sub("([^0-9A-Za-z \t])|(\w+:\/\/\S+)", "", txt).split())

In [80]:
all_tweets_no_urls = [remove_url(tweet) for tweet in all_tweets]
all_tweets_no_urls

['RT juanluispavon1 Conoce las 25 ofertas de empleo de la empresa sevillana Galgus creadora de tecnologa WiFi de primer nivel mundial',
 'RT nodosenlared El libro de la inteligencia colectiva artculo de tiscar sobre la presentacin que del libro',
 'RT arey LastMinute La 2da presentacin del LibroIC en Madrid ser este jueves 1830 en TheBridgeTech acompaados por Tscar Lara',
 'RT PdelaPublicidad Los perfiles tecnolgicos ms demandados en el futuro TheBridgeTech',
 'Terminando el desafio de tripulaciones en TheBridgeTech',
 'RT nodosenlared El libro de la inteligencia colectiva artculo de tiscar sobre la presentacin que del libro',
 'RT nodosenlared El libro de la inteligencia colectiva artculo de tiscar sobre la presentacin que del libro',
 'El libro de la inteligencia colectiva artculo de tiscar sobre la presentacin que del',
 'Este jueves nos vemos en TheBridgeTech para hablar sobre inteligencia colectiva a propsito del nuevo libro de',
 'RT juanluispavon1 Conoce las 25 ofertas de empleo de la empresa sevillana Galgus creadora de tecnologa WiFi de primer nivel mundial',
 'RT juanluispavon1 Conoce las 25 ofertas de empleo de la empresa sevillana Galgus creadora de tecnologa WiFi de primer nivel mundial',
 'Conoce las 25 ofertas de empleo de la empresa sevillana Galgus creadora de tecnologa WiFi de primer nivel mund',
 'RT arey LastMinute La 2da presentacin del LibroIC en Madrid ser este jueves 1830 en TheBridgeTech acompaados por Tscar Lara',
 'LastMinute La 2da presentacin del LibroIC en Madrid ser este jueves 1830 en TheBridgeTech acompaados por',
 'RT TheBridgeTech Qu poco queda para el prximo Burn Monday Lunes 23 de mayo a las 18h aplicaremos la IA en un viaje por obras pic',
 'RT TheBridgeTech Qu poco queda para el prximo Burn Monday Lunes 23 de mayo a las 18h aplicaremos la IA en un viaje por obras pic',
 'Esta es la historia de Isis que decidi hacer un cambio en su vida profesional haciendo el bootcamp de uxui Aho',
 'RT TheBridgeTech Con ganas de probar si un empleo tecnolgico es para ti Ven a los talleres del campus de Sevilla ENCamaraSevilla',
 'RT Bcasapp Cmo combatir el paro juvenil tipdeldia En un pas con una tasa de paro rcord hay que elegir bien dnde y qu estudiar',
 'Gracias victorianoI y equipo por el anlisis con graphext de los datos en educacin y tecnologa que vimos ayer e',
 'RT Bcasapp Cmo combatir el paro juvenil tipdeldia En un pas con una tasa de paro rcord hay que elegir bien dnde y qu estudiar',
 'RT Bcasapp Cmo combatir el paro juvenil tipdeldia En un pas con una tasa de paro rcord hay que elegir bien dnde y qu estudiar',
 'RT Bcasapp Cmo combatir el paro juvenil tipdeldia En un pas con una tasa de paro rcord hay que elegir bien dnde y qu estudiar',
 'Cmo combatir el paro juvenil tipdeldia En un pas con una tasa de paro rcord hay que elegir bien dnde y qu',
 'RT TheBridgeTech Con ganas de probar si un empleo tecnolgico es para ti Ven a los talleres del campus de Sevilla ENCamaraSevilla',
 'RT arey La 2da presentacincoloquio del LibroIC en Madrid ser el J26Mayo1830 en TheBridgeTech con Tscar Lara tiscar y Mario',
 'RT PdelaPublicidad Los perfiles tecnolgicos ms demandados en el futuro TheBridgeTech',
 'Los perfiles tecnolgicos ms demandados en el futuro TheBridgeTech',
 'RT arey La 2da presentacincoloquio del LibroIC en Madrid ser el J26Mayo1830 en TheBridgeTech con Tscar Lara tiscar y Mario',
 'RT arey La 2da presentacincoloquio del LibroIC en Madrid ser el J26Mayo1830 en TheBridgeTech con Tscar Lara tiscar y Mario',
 'RT arey La 2da presentacincoloquio del LibroIC en Madrid ser el J26Mayo1830 en TheBridgeTech con Tscar Lara tiscar y Mario',
 'La 2da presentacincoloquio del LibroIC en Madrid ser el J26Mayo1830 en TheBridgeTech con Tscar Lara']

In [81]:
words_in_tweet = [tweet.lower().split() for tweet in all_tweets_no_urls]

In [82]:
# List of all words across tweets
all_words_no_urls = list(itertools.chain(*words_in_tweet))

# Create counter
counts_no_urls = collections.Counter(all_words_no_urls)

counts_no_urls.most_common(15)

[('de', 40),
 ('en', 30),
 ('la', 23),
 ('rt', 22),
 ('el', 22),
 ('thebridgetech', 17),
 ('del', 15),
 ('con', 13),
 ('que', 11),
 ('y', 11),
 ('un', 10),
 ('paro', 10),
 ('libro', 8),
 ('tiscar', 8),
 ('2da', 8)]

In [83]:
tweet_text['text'] = all_tweets_no_urls

In [85]:
X_test = tweet_text[['text']]

print(X_test.shape)

(32, 1)

In [88]:
import pickle

# load the model from disk
with open('finished_model.model', "rb") as archivo_entrada:
    pipeline_importada = pickle.load(archivo_entrada)

pipeline_importada

Pipeline(steps=[('vect',
                 CountVectorizer(max_df=0.5, max_features=1000, min_df=5,
                                 ngram_range=(1, 2))),
                ('cls', LogisticRegression(C=0.5))])

In [103]:
# Identificamos los tuits más relevantes
# 1526842834741039105	12
# 1528641426975760389	10
# 1528650844094271490	9

tweet_text[(tweet_text['tweet_ID'] == 1526842834741039105) | (tweet_text['tweet_ID'] == 1528641426975760389) | (tweet_text['tweet_ID'] == 1528650844094271490)]

,tweet_ID,text,user_ID,user_name,name,retweet,like,year,month,sum
7,1528650844094271490,El libro de la inteligencia colectiva artculo ...,41545659,nodosenlared,Mario Lopez de Avila,3,6,2022,5,9
11,1528641426975760389,Conoce las 25 ofertas de empleo de la empresa ...,987388686,juanluispavon1,Juan Luis Pavón,3,7,2022,5,10
23,1526842834741039105,Cmo combatir el paro juvenil tipdeldia En un p...,1336771626306854912,Bcasapp,Bcas,4,8,2022,5,12

In [104]:
# 1º
text1 = pd.Series(tweet_text['text'][7])
test_clean1 = pd.DataFrame(text1, columns=['content'])
# 2º
text2 = pd.Series(tweet_text['text'][11])
test_clean2 = pd.DataFrame(text2, columns=['content'])
# 3º
text3 = pd.Series(tweet_text['text'][23])
test_clean3 = pd.DataFrame(text3, columns=['content'])

In [109]:
# 1º
predictions = pipeline_importada.predict_proba(test_clean1['content'])
test_clean1['Polarity_Pos'] = pd.Series(predictions[0][0])
test_clean1['Polarity_Neg'] = pd.Series(predictions[0][1])
# 2º
predictions = pipeline_importada.predict_proba(test_clean2['content'])
test_clean2['Polarity_Pos'] = pd.Series(predictions[0][0])
test_clean2['Polarity_Neg'] = pd.Series(predictions[0][1])
# 3º
predictions = pipeline_importada.predict_proba(test_clean3['content'])
test_clean3['Polarity_Pos'] = pd.Series(predictions[0][0])
test_clean3['Polarity_Neg'] = pd.Series(predictions[0][1])

results = pd.concat([test_clean3, test_clean1, test_clean2], ignore_index=True)
results

,content,Polarity_Pos,Polarity_Neg
0,Cmo combatir el paro juvenil tipdeldia En un p...,0.604290,0.395710
1,El libro de la inteligencia colectiva artculo ...,0.250763,0.749237
2,Conoce las 25 ofertas de empleo de la empresa ...,0.461786,0.538214

5. Despliega el modelo (no en local, puedes elegir el proveedor), con un endpoint
donde poder enviarle un cuerpo de texto y devuelva la predicción del sentimiento

In [ ]:
''' http://alfonsoedlms.pythonanywhere.com/api/predict?tweet="Me ha costado sangre, 
sudor y varias horas de sueño pérdidas esta prueba técnica pero estoy contento de haberlo conseguido" '''

In [114]:
# from flask_restful import Api, Resource
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd
import pickle
import Flask




app = Flask(__name__)
app.config["DEBUG"] = True
#os.chdir(os.path.dirname(__file__))


@app.route('/', methods=['GET'])
def home():
    return "<h1>Distant Reading Archive</h1><p>This site is a prototype API.</p>"


@app.route('/api/predict', methods=['GET'])
def do_predict():
    sentence = str(request.args['tweet'])

    with open('/home/AlfonsoEdlMS/New_Project/finished_model.model', 'rb') as f:
        model = pickle.load(f)

    text = pd.Series(sentence)
    test_clean = pd.DataFrame(text, columns=['content'])

    predictions = model.predict_proba(test_clean['content'])
    test_clean['Polarity_Pos'] = pd.Series(predictions[0][0])
    test_clean['Polarity_Neg'] = pd.Series(predictions[0][1])
    joson1 = test_clean.to_json(orient="split")
    # return jsonify({'Polarity_Pos': str(test_clean['Polarity_Pos'][0]), 'Polarity_Neg': str(test_clean['Polarity_Neg'][0]) })
    return joson1






# app.run()

'# from flask_restful import Api, Resource\nfrom sklearn.feature_extraction.text import TfidfVectorizer\nimport pandas as pd\nimport pickle\nimport Flask\n\n\n\n\napp = Flask(__name__)\napp.config["DEBUG"] = True\n#os.chdir(os.path.dirname(__file__))\n\n\n@app.route(\'/\', methods=[\'GET\'])\ndef home():\n    return "<h1>Distant Reading Archive</h1><p>This site is a prototype API.</p>"\n\n\n@app.route(\'/api/predict\', methods=[\'GET\'])\ndef do_predict():\n    sentence = str(request.args[\'tweet\'])\n\n    with open(\'/home/AlfonsoEdlMS/New_Project/finished_model.model\', \'rb\') as f:\n        model = pickle.load(f)\n\n    text = pd.Series(sentence)\n    test_clean = pd.DataFrame(text, columns=[\'content\'])\n\n    predictions = model.predict_proba(test_clean[\'content\'])\n    test_clean[\'Polarity_Pos\'] = pd.Series(predictions[0][0])\n    test_clean[\'Polarity_Neg\'] = pd.Series(predictions[0][1])\n    joson1 = test_clean.to_json(orient="split")\n    # return jsonify({\'Polarity_Pos\': str(test_clean[\'Polarity_Pos\'][0]), \'Polarity_Neg\': str(test_clean[\'Polarity_Neg\'][0]) })\n    return joson1\n\n\n\n\n\n\n# app.run()'

6. Realizar una presentación de 5 minutos máximo, donde presentes tu solución y la
defiendas en una entrevista personal.